{% load static %}

<!DOCTYPE html >
<html>
<head>

    {% block title %}
        <title>A Good Blog</title>
    {% endblock title %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <!-- <div class="navbar">
        <ul class="navbar-list">
            <li class="nav-list-item" ><a href="">Good Blog</a></li>
            <li class="nav-list-item" ><a href="#">News</a></li>
            <li class="nav-list-item" ><a href="#">Contact</a></li>
            <li class="nav-list-item" ><a href="#">About</a></li>
            <li class="nav-list-item" ><a href="#">Sign Up</a></li>
        </ul>
    </div> -->
    
    <h1>This is a H1 heading</h1>
            <div class="box1">
        <p class="intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et cupiditate voluptatibus sequi possimus earum.<a class="link-p" href="#">Mollitia soluta</a> numquam adipisci vero nemo? Quia impedit provident repellendus, aut delectus doloribus corporis deserunt quis.
        </p>
    </div>
    <div class="box2">
        <p>Lorem ipsum dolor, sit amet consectetur  Et cupiditate voluptatibus sequi possimus earum. Mollitia soluta numquam adipisci vero nemo? <a class="link-p" href="www.google.com">Quia impedit</a> provident repellendus, aut delectus doloribus corporis deserunt quis.</p>
    </div>
    <div class="box3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis optio esse eius corrupti, in neque maiores nemo commodi possimus, aspernatur omnis nulla, <a class="link-p" href="www.replit.com">deleniti debitis</a> odit nam culpa ad consequuntur impedit.</p>
    </div>
</body>

</html>