{% load static %}

<!DOCTYPE html >
<html>
<head>

    {% block title %}
        <title>A Good Blog</title>
    {% endblock title %}

    {% block main-styling %}
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endblock main-styling %}

    {% block navcss %}
        <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    {% endblock navcss %}
    
    {% block sp-styling %}

    {% endblock sp-styling %}
    
    
</head>
<body>

    {% block navbar %}
    <div class="nav-hi">
        <p>Hi, {{ user.username }} !</p>
    </div>   
    {% endblock navbar %}

    
    {% block content %}
    
    {% endblock content %}


    {% block js_block %}
        
    {% endblock js_block %}

</body>
</html>