{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    
    {% block title %}
        <title>Log Out|Redit</title>
    {% endblock title %}

    
    {% block navcss %}
    {% endblock navcss %}
    
    {% block sp-styling %}
        <link href="{% static 'css/authstyle.css' %}" rel="stylesheet">
    {% endblock sp-styling %}
    
</head>
<body>
    {% block navbar %}
    {% endblock navbar %}

    {% block content %}
        <div class="signup-box">
            <h5>Are you sure you want to log out?</h5>
            <a href="{% url 'accounts:loggedout' %}">
                <button>Log Out</button>
            </a>
            
            <a href="{% url 'pages:home' %}">
                <button>No!</button>
            </a>
        </div>
    {% endblock content %}
</body>
</html>